<!DOCTYPE html>
<html>
  <head>
    <title>Ytsabo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <% if user_signed_in? %> 
        <li>

          <%= link_to "Sign Out" , destroy_user_session_path  , method: :delete %>
        </li>
        <li>

          <%= current_user.email %>

        </li>
        <li>
          <%= link_to "Edit Account",edit_user_registration_path  %>

        </li> 
        <% else %>  
        <li>
          <%= link_to "sign in",new_user_session_path   %>
        </li> 
        <li>
          <%= link_to "sign UP", new_user_registration_path  %>
        </li>

        <% end %>

    <%= yield %>
  </body>
</html>
